table {
  border: 1px solid black;
}

td {
  padding: 27px;
}

.box {
  background-color: blue;
  height: 27px;
  width: 27px;
  background: url(sprites/knight.png) -6px -1px;
}

.chest {
  background-color: yellow;

}

.wall {
  background-color: green;

}

.terrain-grass {
  width: 27px;
  height: 27px;
  background-color: rgba(179,255,64,1);
}

.tree1 {
  width: 27px;
  height: 27px;
  background: url(sprites/tree-variations_0.png) -5px -79px;
  background-color: rgba(179,255,64,1);
}

.tree2 {
 width: 27px;
 height: 27px;
 background: url(sprites/tree-variations_0.png) -129px -79px;
 background-color: rgba(179,255,64,1);
}

.tree3 {
  width: 27px;
  height: 27px;
  background: url(sprites/tree-variations_0.png) -68px -79px;
  background-color: rgba(179,255,64,1);
}

.tree4 {
  width: 27px;
  height: 27px;
  background: url(sprites/tree-variations_0.png) -192px -79px;
  background-color: rgba(179,255,64,1);
}

.chestSprite {
  width: 27px;
  height: 27px;
  background: url(sprites/chest_sheet.png) -5px -78px;
  background-color: rgba(179,255,64,1);
}

.chestSprite2 {
  width: 27px;
  height: 27px;
  background: url(sprites/chest_sheet.png) -5px -4px;
  background-color: rgba(179,255,64,1);
}

#healthBar {
  width: 20%;
}
