table {
  border: 1px solid black;
}

td {
  padding: 25px;
  border: 1px solid black;
}

.finish {
  background-color: red;
}

.box {
  background-color: blue;
  border: 1px solid black;
  height: 20px;
  width: 20px;
  /* position: absolute; */
  top:0px;
  left:0px;

}

.wall {
  background-color: green;
}
